ul li {
    list-style: none;
}

//font

@font-face {
    font-family: "ubuntu-regular";
    src: url("@/assets/fonts/Ubuntu-Regular.ttf")
}

@font-face {
    font-family: "ubuntu-medium";
    src: url("@/assets/fonts/Ubuntu-Medium.ttf")
}

@font-face {
    font-family: "ubuntu-bold";
    src: url("@/assets/fonts/Ubuntu-Bold.ttf")
}