body {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  /* top: 0;
  left: 0; */
  background-color: #d3e2ff;
}

#container {
  width: 970px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container .box {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 4px 11px rgb(213, 213, 213);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 610px;
}

.navbar {
  width: 274px;
  height: 586px;
  background-image: url("@/assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  margin: 15px;
  padding-top: 20px;
}

.step {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.step .num {
  border: 1px solid #BDE2FD;
  border-radius: 50%;
  padding: 7px 12px;
  font-family: "ubuntu-bold";
}
.step .clicked {
  background-color: #BDE2FD;
  color: #12335E;
}
.step .item {
  margin-left: 16px;
  line-height: 18px;
}
.step .item .step-nm {
  font-size: 12px;
  font-family: "ubuntu-regular";
  color: #A8A7FF;
}
.step .item .name {
  font-family: "ubuntu-bold";
  font-size: 15px;
  letter-spacing: 1px;
}

.content {
  font-family: "ubuntu-regular";
  display: grid;
  grid-template-rows: 50px 55px 360px 50px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translateY(-50%);
}
.content .title {
  font-family: "ubuntu-bold";
  font-size: 30px;
  color: #1A365B;
}
.content .semi-title {
  color: #95969B;
}

.form {
  margin-bottom: 20px;
}
.form label {
  font-size: 14px;
}

.labels {
  display: flex;
  margin-bottom: 7px;
}

.alert {
  margin-left: auto;
  color: #9D5A63;
  font-family: "ubuntu-bold";
}

.form input {
  font-family: "ubuntu-bold";
  border: 1px solid #D9D9DB;
  border-radius: 10px;
  padding: 15px;
  width: calc(100% - 30px);
  font-size: 16px;
  color: #1A365B;
}
.form input:focus {
  transition: all 0.2s ease-in;
  outline: 1px solid #534D93;
  border: 1px solid #534D93;
}
.form input::-moz-placeholder {
  font-family: "ubuntu-regular";
  color: #98979D;
}
.form input:-ms-input-placeholder {
  font-family: "ubuntu-regular";
  color: #98979D;
}
.form input::placeholder {
  font-family: "ubuntu-regular";
  color: #98979D;
}

.error {
  outline: 1px solid #9D5A63;
  border: 1px solid #9D5A63;
}

/* ------------------------------ STEP 2 ------------------------------ */
.options {
  display: flex;
  justify-content: space-between;
}
.options .icon {
  margin-bottom: 40px;
}

.option {
  padding: 20px 18px;
  width: 150px;
  text-align: left;
}

.option:hover {
  border: 1px solid #534D93;
  transition: all 0.1s ease-in;
}

.option-nm {
  margin-bottom: 6px;
}

.select-area {
  padding-top: 25px;
}

.btn-area {
  background-color: #F8F9FE;
  padding: 15px;
  border-radius: 11px;
  text-align: center;
  align-items: center;
}

.dollar {
  margin-bottom: 4px;
}

.period {
  font-size: 14px;
  color: #9696A0;
  font-family: "ubuntu-bold";
}

.m-or-y {
  color: #1A365B;
  transition: all 0.1s ease-in;
}

.discount {
  color: #1A365B;
}

.switch {
  margin: 0 25px;
  width: 38px;
  height: 20px;
  display: inline-block;
  position: relative;
  border-radius: 30px;
  background-color: #03295A;
  cursor: pointer;
  top: 4px;
}

.toggle-btn {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 20%;
  left: 10px;
  transform: translate(-50%);
  border-radius: 50%;
  background: white;
}

#toggle:checked ~ .switch .toggle-btn {
  left: 75%;
}

.switch, .toggle-btn {
  transition: all 0.2s ease-in;
}

/* ------------------------------ STEP 3 ------------------------------ */
.addon {
  font-size: 15px;
  display: flex;
  padding: 15px;
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}
.addon .checkbox {
  position: relative;
  text-align: center;
  width: 18px;
  height: 18px;
  border: 1px solid #D9D9DB;
  border-radius: 4px;
}
.addon .checkbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addon .check {
  background-color: #413EFF;
  border: 1px solid #413EFF;
  transition: all 0.05s ease-in;
}
.addon .txts {
  text-align: left;
}
.addon .price {
  margin-left: auto;
}

/* ------------------------------ BUTTONS ------------------------------ */
.rgt-btn, .lft-btn {
  cursor: pointer;
  font-family: "ubuntu-regular";
  border-radius: 8px;
  padding: 13px 18px;
  font-size: 16px;
}

.rgt-btn {
  float: right;
  color: white;
  background-color: #03295A;
  border: 1px solid #03295A;
}

.rgt-btn:hover {
  background-color: #174A89;
  border: 1px solid #174A89;
}

.lft-btn {
  color: #93939B;
  background-color: white;
  border: 1px solid white;
}

.lft-btn:hover {
  color: #03295A;
}/*# sourceMappingURL=default.css.map */