body {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    //position: absolute;
    /* top: 0;
    left: 0; */

    background-color: #d3e2ff;
    //#EEF5FF
}

// desktop

#container {
    width: 970px;
    height: 600px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .box{
        background-color: white;
        width: 100%;
        height: 100%;

        border-radius: 20px;
        box-shadow: 1px 4px 11px rgb(213, 213, 213);

        box-sizing: border-box;

        display: grid;
        grid-template-columns: 300px 610px;
    }
}

.navbar {
    width: 274px;
    height: 586px;
    background-image: url('@/assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;

    margin: 15px;
    padding-top: 20px;
}

.step {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 24px;
    margin-left: -10px;

    cursor:pointer;

    .num {
        border: 1px solid #BDE2FD;
        border-radius: 50%;
        padding: 7px 12px;
        font-family: "ubuntu-bold";
    }

    .clicked {
        background-color: #BDE2FD;
        color: #12335E;
    }

    .item {
        margin-left: 16px;
        line-height: 18px;

        .step-nm{
            font-size: 12px;
            font-family: "ubuntu-regular";
            color: #A8A7FF;
        }

        .name {
            font-family: "ubuntu-bold";
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
}

.content {
    font-family: "ubuntu-regular";
    display: grid;
    grid-template-rows: 50px 55px 360px 50px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translateY(-50%);

    .title {
        font-family: "ubuntu-bold";
        font-size: 30px;
        color: #1A365B;
    }

    .semi-title {
        color: #95969B;
    }
}

// 텍스트 폼
.form {
    margin-bottom: 20px;
    label {
        font-size: 14px;   
    }
}

.labels {
    display: flex;
    margin-bottom: 7px;
}

.alert {
    margin-left: auto;
    color: #9D5A63;
    font-family: "ubuntu-bold";
}

input {
    font-family: "ubuntu-bold";
    border: 1px solid #D9D9DB;
    border-radius: 10px;
    padding: 15px;
    width: calc(100% - 30px);
    font-size: 16px;
    color: #1A365B;
}

input:focus {
    outline: 1px solid #534D93;
    border: 1px solid #534D93;
}

input::placeholder {
    font-family: "ubuntu-regular";
    color:#98979D;
}

.error {
    outline: 1px solid #9D5A63;
    border: 1px solid #9D5A63;
}



/* ------------------------------ STEP 2 ------------------------------ */

// 3 buttons
.options {
    display: flex;
    justify-content: space-between;

    .icon {
        margin-bottom: 40px;
    }
}

.option {
    padding: 20px 18px;

    cursor: pointer;
    background-color: white;
    border: 1px solid #D9D9DB;
    border-radius: 10px;
    
    width: 150px;
    //height: 170px;
    text-align: left;
}

.option-nm {
    font-family: "ubuntu-bold";
    font-size: 16px;
    color: #1A365B;
    margin-bottom: 6px;
}

.select-area {
    padding-top: 25px;
}

.btn-area {
    background-color: #F8F9FE;
    padding: 15px;

    border-radius: 11px;
    text-align: center;
    align-items: center;
}

.dollar {
    font-size: 14px;
    color: #95969B;
    margin-bottom: 4px;
}

.period {
    font-size: 14px;
    color: #9696A0;
    font-family: 'ubuntu-bold';
}

.selected {
    color: #1A365B;
}

.discount {
    color: #1A365B;
}

//toggle switch
.switch {
    margin: 0 25px;
    width: 38px;
    height: 20px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    background-color: #03295A;
    cursor:pointer;

    top: 4px;
}

.toggle-btn {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20%;
    left: 10px;
    transform: translate(-50%);
    border-radius: 50%;
    background: white;
}

#toggle:checked ~ .switch .toggle-btn {
    left: 75%;
}

.switch, .toggle-btn {
    transition: all 0.2s ease-in;
}

/* ------------------------------ BUTTONS ------------------------------ */
.rgt-btn, .lft-btn {
    cursor:pointer;
    font-family: "ubuntu-regular";
    border-radius: 8px;
    padding: 13px 18px;
    font-size: 16px;
}

.rgt-btn {
    float: right;
    color: white;
    background-color: #03295A;
    border: 1px solid #03295A;
}

.rgt-btn:hover {
    background-color: #174A89;
    border: 1px solid #174A89;
}

.lft-btn {
    color: #93939B;
    background-color: white;
    border: 1px solid white;
}

.lft-btn:hover {
    color: #03295A;
}


