body {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;

    background-color: #EEF5FF;
}

// desktop

#container {
    width: 970px;
    height: 600px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 971px) {
        .box{
            background-color: white;
            width: 100%;
            height: 100%;
    
            border-radius: 20px;
            box-shadow: 1px 4px 11px rgb(213, 213, 213);
    
            box-sizing: border-box;
    
            display: grid;
            grid-template-columns: 300px 610px;
        }
    }
}

.navbar {
    width: 274px;
    height: 586px;
    background-image: url('@/assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;

    margin: 15px;
    padding-top: 20px;
}

.step {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 24px;
    margin-left: -10px;

    cursor:pointer;

    .num {
        border: 1px solid #BDE2FD;
        border-radius: 50%;
        padding: 7px 12px;
        font-family: "ubuntu-bold";
    }

    .clicked {
        background-color: #BDE2FD;
        color: #12335E;
    }

    .item {
        margin-left: 16px;
        line-height: 18px;

        .step-nm{
            font-size: 12px;
            font-family: "ubuntu-regular";
            color: #A8A7FF;
        }

        .name {
            font-family: "ubuntu-bold";
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
}

@media (min-width:971px) {

    .content {
        font-family: "ubuntu-regular";
        display: grid;
        grid-template-rows: 50px 55px 360px 50px;
        width: 500px;
        position: absolute;
        top: 50%;
        left: 38%;
        transform: translateY(-50%);
    
        .title {
            font-family: "ubuntu-bold";
            font-size: 30px;
            color: #1A365B;
        }
    
        .semi-title {
            color: #95969B;
        }
    }

}


// 텍스트 폼
.form {
    margin-bottom: 20px;
    label {
        font-size: 14px;   
    }
}

.labels {
    display: flex;
    margin-bottom: 7px;
}

.alert {
    margin-left: auto;
    color: #9D5A63;
    font-family: "ubuntu-bold";
}

.form {
    input {
        font-family: "ubuntu-bold";
        border: 1px solid #D9D9DB;
        border-radius: 10px;
        padding: 15px;
        width: calc(100% - 30px);
        font-size: 16px;
        color: #1A365B;
    }
    
    input:focus {
        transition: all 0.2s ease-in;
        outline: 1px solid #534D93;
        border: 1px solid #534D93;
    }
    
    input::placeholder {
        font-family: "ubuntu-regular";
        color:#98979D;
    }
}

.error {
    outline: 1px solid #9D5A63;
    border: 1px solid #9D5A63;
}



/* ------------------------------ STEP 2 ------------------------------ */

// 3 buttons
.options {
    display: flex;
    justify-content: space-between;

    .icon {
        margin-bottom: 40px;
    }
}

.option {
    padding: 20px 18px;
    width: 150px;
    //height: 170px;
    text-align: left;
}

.option:hover {
    border: 1px solid #534D93;
    transition: all 0.1s ease-in;
}

.option-nm {
    margin-bottom: 6px;
}

.select-area {
    padding-top: 25px;
}

.btn-area {
    background-color: #F8F9FE;
    padding: 15px;

    border-radius: 11px;
    text-align: center;
    align-items: center;
}

.dollar {
    font-family: 'ubuntu-regular';
    margin-bottom: 4px;
}

.period {
    font-size: 14px;
    color: #9696A0;
    font-family: 'ubuntu-bold';
}

.m-or-y {
    color: #1A365B;
    transition: all 0.1s ease-in;
}

.discount {
    color: #1A365B;
}

//toggle switch
.switch {
    margin: 0 25px;
    width: 38px;
    height: 20px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    background-color: #03295A;
    cursor:pointer;

    top: 4px;
}

.toggle-btn {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20%;
    left: 10px;
    transform: translate(-50%);
    border-radius: 50%;
    background: white;
}

#toggle:checked ~ .switch .toggle-btn {
    left: 75%;
}

.switch, .toggle-btn {
    transition: all 0.2s ease-in;
}


/* ------------------------------ STEP 3 ------------------------------ */

.addon {
    font-family: 'ubuntu-regular';
    font-size: 15px;
    display: flex;
    padding: 17px 15px;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 6fr 1fr ;

    .checkbox {
        position: relative;
        text-align: center;
        width: 18px;
        height: 18px;
        //background-color: #534D93;
        border: 1px solid #D9D9DB;
        border-radius: 4px;

        img {
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .check {
        background-color: #413EFF;
        border: 1px solid #413EFF;
        transition: all 0.05s ease-in;
    }

    .txts {
        text-align: left;
        line-height: 22px;
    }

    .price {
        font-family: 'ubuntu-medium';
        margin-left: auto;
        color: #5B49D9;
    }
}


/* ------------------------------ STEP 4 ------------------------------ */

.costs {
    background-color: #F8F9FE;
    padding: 20px 30px;
    border-radius: 10px;

    .plan-wrap {
        display: flex;
        align-items: center;
    }

    .plus {
        border-bottom: 1px solid lightgray;
        padding-bottom: 30px;
    }

    .plan {
        line-height: 25px;
        font-size: 17px;
    }

    .name {
        display: flex;
    }

    .change-plan {
        font-size: 15px;
        cursor:pointer;
        color: #9797A1;
        text-decoration: underline;
        text-underline-position:under;
    }

    .plan-cost {
        line-height: 50px; 
    }

    .addons {
        display: flex;
        color: #9797A1;
        line-height: 37px;

        .addon-cost {
            color: #1A365B;
        }
    } 
}

.total {
    padding: 30px;
    color: #9797A1;
    display: flex;
    align-items: center;
    
    .total-cost {
        font-family: 'ubuntu-bold';
        font-size: 20px;
        color:#413EFF;
    }
}


/* ------------------------------ thank you ------------------------------ */

.appreciate {
    position: absolute;
    text-align: center;

    top: 50%;
    transform: translateY(-50%);

    line-height: 60px;

    .thank-you {
        font-family: "ubuntu-bold";
        font-size: 30px;
        color: #1A365B;
    }

    .notice {
        line-height: 25px;
        color:#93939B;
    }
}


/* ------------------------------ BUTTONS ------------------------------ */

@media (min-width: 971px) {

    .rgt-btn, .lft-btn {
        cursor:pointer;
        font-family: "ubuntu-regular";
        border-radius: 8px;
        padding: 13px 18px;
        font-size: 16px;
    }
    
    .rgt-btn {
        width: 110.24px;
        float: right;
        color: white;
        background-color: #03295A;
        border: 1px solid #03295A;
    }

    .lft-btn {
        color: #93939B;
        background-color: white;
        border: 1px solid white;
    }

}


.rgt-btn:hover {
    background-color: #174A89;
    border: 1px solid #174A89;
}

.confirm {
    background-color: #413EFF !important;
    border: 1px solid #413EFF !important;
}

.confirm:hover {
    background-color: #6865ff !important;
    border: 1px solid #6865ff !important;
}

.lft-btn:hover {
    color: #03295A;
}



/* ------------------------------------------------------------------------------------------------------------------------ 

                                            Mobile 

------------------------------------------------------------------------------------------------------------------------ */


@media (max-width: 971px) {

    body {
        background-color: white;
    }

    #container {
        width: 375px;
        height: 667px;
        background-color: #EEF5FF;

        .box {
            border-radius: 0px;
            display: grid;
            grid-template-rows: 100px;
            box-sizing: border-box;
        }
    }

    .navbar {
        width: 375px;
        height: 152px;
        margin: 0;
        background-image: url('@/assets/images/bg-sidebar-mobile.svg');

        ul {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 12px 0;
        }

        .step {
            margin: 0;
            .num {
                margin: 0px 8px;
                display: flex;
            }
            .item {
                margin: 0;
                display: none;
            }
        }
    }

    .content {
        font-family: "ubuntu-regular";
        background-color: white;
        border-radius: 10px;
        width: 290px;
        height: auto;
        padding: 27px 25px;
        display: inline-block;

        box-shadow: 0 8px 10px -4px rgb(213, 213, 213);

        margin: auto;
    
        .title {
            font-family: "ubuntu-bold";
            font-size: 24px;
            color: #1A365B;
        }

        .semi-title {
            color: #95969B;
            width: 280px;
            line-height: 23px;
        }
    }

    // step1
    .top-area {
        margin-bottom: 10px;
    }

    .forms {
        margin: 17px 0px;

        .form {
            margin: 10px 0;
        }

        .labels {
            font-size: 8px;
            margin: 4px 0;
        }

        .label-name {
            color:#215390;
        }
    }

    // step2
    .options {
        display: block;

        .icon {
            margin: 0;
        }

        .option {
            display: flex;
            padding: 16px 18px;
            width: 100%;
            margin-bottom: 13px;

            .info {
                margin-left: 14px;
                line-height: 20px;
            }

            .option-nm {
                margin: 0;
            }

            .dollar {
                margin: 0;
            }
        }
    }

    .btn-area {
        padding: 8px;
    }

    .select-area {
        padding-top: 0px;
    }

    //step3
    .third-step {
        .addons {
            .addon {
                padding: 13px 15px;
            }

            .txts {
                line-height: 20px;
            }

            .card-nm {
                letter-spacing: -0.5px;
                font-size: 15px;
            }

            .card-des {
                font-size: 12px;
            }

            .price {
                font-size: 13px;
            } 
        }
    }

    //step4
    .costs{
        padding: 10px 20px;

        .plan, .plan-cost {
            font-size: 14px;
        }

        .plan {
            line-height: 20px;
        }

        .plus {
            padding-bottom: 12px;
        }

        .addon-wrap {
            padding-top: 8px;
            font-size: 14px;

            .addons {
                line-height: 30px;
            }
        }
    }

    .total {
        
        font-size: 14px;
        padding: 20px;

        .total-cost {
            font-family: 'ubuntu-bold';
            font-size: 18px;
            color:#413EFF;
        } 
    }

    //thankyou
    .appreciate {

        .notice {
            width: 290px;
        }
    }

    // bottom buttons
    .btns {
        position: fixed;
        background-color: white;

        width: 100%;
    }
}
